* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */

.section-title {
  font-family: "Roboto", sans-serif;
  background-image: url("../resource/images/titel-bild.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-title__article {
  text-align: center;
}
.section-title__title {
  color: #fff;
  font-size: 50px;
}
.section-title__arrow-icon {
  position: absolute;
  padding-top: 230px;
}

.main-section main {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
  text-align: center;
}
.main-section__great-ideas {
  max-width: 610px;
}
.main-section__great-ideas h3 {
  font-size: 28px;
  margin-top: 300px;
  margin-bottom: 20px;
}
.main-section__great-ideas p {
  margin-bottom: 250px;
  text-align: center;
  color: #4a4a4a;
  line-height: 25px;
}
.main-section__great-ideas p span {
  color: #2aa7ff;
}
.main-section__image-container1 {
  display: flex;
  justify-content: center;
  padding-bottom: 200px;
}
.main-section__image-container1 img {
  width: 45%;
}

.main-section__meet-artists {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-width: 550px;
}
.main-section__meet-artists h3 {
  font-size: 30px;
  margin-bottom: 50px;
}
.main-section__meet-artists p {
  margin-bottom: 50px;
}

.main-section__image-container2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 150px;
}
.main-section__image-container2 img {
  width: 45%;
}

footer {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.footer__article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

footer h2 {
  margin-top: 190px;
  padding-bottom: 100px;
  width: 550px;
  color: #4a4a4a;
  text-align: center;
  font-weight: 100;
  font-size: 30px;
}
.footer__bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 80px 50px 40px;
}
.footer__left-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer__center-container {
  width: 530px;
  text-align: center;
  margin-left: -110px;
}
